src_nnc_calc1/obj/*.o
src_nnc_calc1/booksim
*.rt
*.tp
*.rlog
stat
__pycache__
*~
*.cfg
*.txt
*.bin
*.tr
trace_csv/*.csv
trace_csv/*.tr
trace_csv/*.tr.orig
booksim_py3_nnc2/*.tr
booksim_py3_nnc2/*.log
rtgen_rr/edgefiles/*.edges
rtgen_rr/*.bin
rtgen_rr/*.tr
rtgen_rr/*.edges
trace_csv/csv_trash/
rtgen_rr/trash/
rtgen_rr/*.out
